button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}
