footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
  background-color: lightskyblue;
  color: #1c3879;
}
